/* /* .circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid red;
    position: absolute;
}  */


/* .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    margin-top: 50vh;
}

.para{
    color: rebeccapurple;
    overflow-y: scroll;
} */

/* div{
    background-color: aquamarine;
    width: 400px;
}
 */
 
  /*  */
/* 
  .background{
    background-image: url("https://plus.unsplash.com/premium_photo-1673697240011-76f7f9220300?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YmFja2dyb3VuZCUyMGltYWdlfGVufDB8fDB8fHww");
    background-size: cover;
    width: 80%;
    height: 50vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 2x solid red;
  } */
/* 
  p:nth-last-child(2){
    background-color: red;
  } */

  /* div{
    height: 150px;
    background-color: blueviolet;
  }
.child1{
  font-size: 1.5em;
}
.child2{
  font-size: 1.5em
} */

/* .main-container{
  display: grid; 
  grid-template-columns: repeat(3,1fr);
  background-color: aquamarine;
  gap:10px;
  grid-auto-flow: row;

}
 .child{
  
  background-color: blueviolet;
} 
  */
  /* .container{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    background-color: antiquewhite;
    grid-auto-flow: column;
  }

  div{
    background-color: aqua;
  } */

  /* .parent{
    width: 200px;
    height: 200px;
    background-color: wheat;
    border-radius:  50%;
    border: 16px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-top: 15px solid slateblue; */
    /* animation: spin 2s infinite;
  } 
 /* @keyframes spin{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }  */

  /* .circular-text {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid #000; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    animation: a 8s infinite;
  }
  
  /* .circular-text span {
    position: absolute;
    font-size: 16px; 
  } */
/*   
       .circular-text span:nth-child(1) { transform: rotate(0deg) translate(90px); }
      .circular-text span:nth-child(2) { transform: rotate(24deg) translate(90px); }
      .circular-text span:nth-child(3) { transform: rotate(48deg) translate(90px); }
      .circular-text span:nth-child(4) { transform: rotate(72deg) translate(90px); }
      .circular-text span:nth-child(5) { transform: rotate(96deg) translate(90px); }
      .circular-text span:nth-child(6) { transform: rotate(120deg) translate(90px); }
      .circular-text span:nth-child(7) { transform: rotate(144deg) translate(90px); }
      .circular-text span:nth-child(8) { transform: rotate(168deg) translate(90px); }
      .circular-text span:nth-child(9) { transform: rotate(192deg) translate(90px); }
      .circular-text span:nth-child(10) { transform: rotate(216deg) translate(90px); }
      .circular-text span:nth-child(11) { transform: rotate(240deg) translate(90px); }
      .circular-text span:nth-child(12) { transform: rotate(264deg) translate(90px); }
      .circular-text span:nth-child(13) { transform: rotate(288deg) translate(90px); }
      .circular-text span:nth-child(14) { transform: rotate(312deg) translate(90px); } */

      /* @keyframes a{
        0%{
          transform: rotate(0deg);
        }
        100%{
          transform: rotate(360deg);
        }
      } */


       */

       .parent{
        margin:  0 auto;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid black;
        transition: all;
        animation: curve 10s ease-in-out infinite  ;
       }

       @keyframes curve{

        0%{
          border-top-left-radius: 110px;
        }

        20%{
          border-top-right-radius: 300px;
        }
        50%{
          border-bottom-right-radius: 300px;
        }
        70%{
          border-top-left-radius: 100px;
        }

        100%{
          border-top-right-radius: 300px;
        }
       }